footer{
    position: relative;
    z-index: 999;
    .container{
        @include media-breakpoint-down(sm) {
            padding-left:36px;
            padding-right: 36px;
    
        }
    }
    padding:54px 0px 44px 0px;
    @include media-breakpoint-down(lg) {
        padding:100px 0px 99px 0px;

    }
    .social-media{
        @include media-breakpoint-down(lg) {
            margin-bottom: 55px;
    
        }
        .social-media-box{
           margin-right: 8px;
            &:last-child{
                margin-right: 0px;
            }
            a{
                width: 48px;
                height: 48px;
                border: 1px solid rgba(#FDFAF6,35%);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &:hover{
                    &:before{
                        top: 0;
                        background: $info;
                    }
                    svg{
                        color: #fff;
                            transform: rotateY(360deg);
                    }
                }
              
                &:before{
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    transition: .5s;
                    z-index: 2;
                }
                svg{
                    position: relative;
                    color: #262626;
                    transition: .5s;
                    z-index: 3;
                    
                }
            }
        }
       
       
        
    
        h2{
            line-height: 50px;
        }
    }
    
    .social-icon{
        :hover{
            color:$info;
            @include generate-transition(all, 0.5s, ease);
        }
        h3 > a{
            span{
                font-size: 25px;
                line-height: 30px;
                
            }
            h6{
                line-height: 30px;
            }
        }
    }
    .sign-up-title{

        h4{
            font-size: 25px;
            line-height: 40px;
            @include media-breakpoint-down(lg) {
                line-height: 30px;
    
            }
        }
        a{
            svg{
                @include media-breakpoint-down(lg) {
                    height:94.36px;
                    width:60.42px;
                }
            }
        };
    }
    .newsletter {
        margin-bottom: 78px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 0px;
        }
        input{
            max-width: 424px;
            padding:13px 30px;
            border-radius: 20px;
            border: 2px solid transparent;
            background-color:rgba($white,14%);
            &::placeholder{
                color:$white;
                font-size: 18px;
                line-height: 1;
            }
            &:focus {
                border: 2px solid rgba($white,14%);
                color: $white;
                }
        }
        .submit-btn{
            background-color: $primary;
            padding: 15px;
            border-radius: 15px;
            border:none;
            height:42px;
            width:42px;
            text-align: center;
            position: absolute;
            right:8px;
            top: 6px;
        }
    }
    .bottom-footer{
        ul{
            @include media-breakpoint-down(lg) {
                row-gap:10px;
            }
            
            li{
                margin-right: 34px;
                &:last-child{
                    margin-right: 0px;
                }

              a{
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    background:$white;
                    transition: 0.5s transform ease;
                    transform: scale3d(0,1,1);
                    transform-origin: 0 50%;
                }
                &:hover::before{
                    transform: scale3d(1,1,1);
                }
                color:rgba($white,35%);
                line-height: 1.3;
              
               
               
                }
            }
            
            }
        }
    }
